{% extends "basic.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', path='css/matrix.css')}}">
<link rel="stylesheet" href="{{url_for('static', path='css/content_blocks.css')}}">

<script type="module" src="{{url_for('static', path='js/linal/lab4.js')}}"></script>
{% endblock %}

{% block main_content %}
<div class="lab_step_block">
    <div class="lab_step_content">
        <div class="text_block">
            <h2>Задача 4</h2>
            <p>Даны матрицы <i>А</i> и <i>B</i>. Необходимо вычислить определитель их произведения.</p>
        </div>
    </div>
    <div class="lab_step_content">
        <div class="matrix_with_name">
            <span class="matrix_name">A = </span>
            <div class="matrix non_editable_matrix">
                {% for row in variant['matrix_a'] %}
                <div class="matrix_row">
                    {% for element in row %}
                        <input type="number" class="matrix_element" value={{element}} />
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="matrix_with_name">
            <span class="matrix_name">B =</span>
            <div class="matrix non_editable_matrix">
                {% for row in variant['matrix_b'] %}
                <div class="matrix_row">
                    {% for element in row %}
                        <input type="number" class="matrix_element" value={{element}} />
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="lab_step_block">
    <div class="lab_step_content">
        <div class="text_block">
            <h2>Результат</h2>
        </div>
    </div>
    <div class="lab_step_content">
        <div class="matrix_with_name">
            <span class="matrix_name">|A * B| = </span>
            <div class="matrix editable_matrix">
                <input type="number" class="matrix_element"/>
            </div>
        </div>
    </div>
</div>

<div class="check_block">
    <button type="button" class="check_button" id="check_button">Проверить</button>
    <div class="verdict_block" id="user_verdict_block" hidden="hidden">
        <img class="verdict_image">
        <p class="verdict_text"></p>
    </div>
</div>
{% endblock %}

{% block end_scripts %}
<div id="is_solved">{{ is_solved | lower }}</div>
{% endblock %}
