.angem_lab8_step1_input {
    width: 3vw;
    height: 1.5vw;
    text-align: center;
    margin-left: 8px;
    margin-right: 4px;
}

.angem_lab8_step7_input {
    width: 1.5vw;
    height: 1.5vw;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
}